<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
    layout="${longdate}| ${pad:padding=5:inner=${level:uppercase=true}}| ${pad:padding=-50:inner=${logger}}| ${message:withexception=true}" >
      <highlight-word condition="level == LogLevel.Debug" foregroundColor="Gray" text="DEBUG"/>
      <highlight-word condition="level == LogLevel.Info" foregroundColor="Green" text="INFO" />
      <highlight-word condition="level == LogLevel.Warn" foregroundColor="Yellow" text="WARN" />
      <highlight-word condition="level == LogLevel.Error" foregroundColor="Red" text="ERROR"/>
      <highlight-word condition="level == LogLevel.Fatal" foregroundColor="Red" text="FATAL" backgroundColor="White" />
    </target>
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="coloredConsole" />
    <logger name="*" minlevel="Debug" writeTo="logconsole" />
  </rules>
</nlog>