@font-face {
    font-family: "icons";
    src: url("./icons.eot?5cd3e0d0a7df534576e18c469c0be0d4#iefix") format("embedded-opentype"),
url("./icons.woff2?5cd3e0d0a7df534576e18c469c0be0d4") format("woff2"),
url("./icons.woff?5cd3e0d0a7df534576e18c469c0be0d4") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-discord:before {
    content: "\f101";
}
.icon-edit:before {
    content: "\f102";
}
.icon-instagram:before {
    content: "\f103";
}
.icon-schedule:before {
    content: "\f104";
}
.icon-telegram:before {
    content: "\f105";
}
.icon-whatsapp:before {
    content: "\f106";
}
