@import "./base.css";
@import "./icons/font/icons.css";

header {
    background: var(--c-stair-lime);
    color: var(--c-white-1);
}

h1,
.title {
    font-size: 53px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--c-stair-green);
}

@media (max-width: 768px) {
    h1,
    .title {
        font-size: 40px;
    }
}

h2,
.subtitle {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--fg-text);
}

h3,
.lead {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--fg-text);
}

body {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.25;
    color: var(--fg-text);
}

strong {
    font-weight: 600;
}

a {
    color: var(--c-accent);
    text-decoration: none;

    &:hover {
        color: var(--c-accent-hover);
    }
}

input,
textarea,
select {
    font-size: 1em;
    font-weight: 400;
    font-family: Ingra, Arial, Helvetica, sans-serif;
    line-height: 1.25;
    color: var(--fg-text);
    background: var(--bg-soft);
    border: 1px solid var(--bg-muted);
    border-radius: 4px;
    padding: 8px 12px;
    outline: none;

    &:focus {
        border-color: var(--c-accent);
    }
}

textarea {
    min-height: 20ch;
}

button {
    font-size: 1em;
    font-weight: 700;
    font-family: Ingra, Arial, Helvetica, sans-serif;
    line-height: 1.25;
    color: var(--c-white-1);
    background: var(--c-stair-green);
    border: none;
    border-radius: 0.5em;
    padding: 1em 2em;
    cursor: pointer;
    outline: none;

    &:hover {
        background: var(--c-stair-lime);
    }

    &.secondary {
        background: inherit;
        color: var(--c-stair-green);
        border: 1px solid var(--bg-muted);

        &:hover {
            background: var(--bg-base);
            border: 1px solid var(--c-stair-green);
        }
    }

    &.danger {
        background: var(--c-stair-burgundy);

        &:hover {
            background: var(--c-stair-berry);
        }
    }

    &.warning {
        background: var(--c-stair-mustard);

        &:hover {
            background: var(--c-stair-yellow);
        }
    }

    &:disabled {
        background: var(--c-stair-grey);
        cursor: not-allowed;

        &:hover {
            background: var(--c-white-4);
        }
    }
}

.card {
    background: var(--bg-soft);
    border: 1px solid var(--bg-muted);
    border-radius: 4px;
    padding: 1em;
    margin: 1em 0;
}

button:has(span.material-symbols-rounded) {
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: center;
}
